section {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    top: unset !important;
    height: 100%;
}

.slide-header {}

.slide-content-default {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slide-content-horizontal {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

footer img {
    margin: 0 !important;
}

.blurry-banner {
    width: 100%;
    backdrop-filter: blur(8px) grayscale(100%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
}

.gap {
    gap: 100px;
}

.r-stack img {
    max-height: 850px;
}

.img-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.code-small>code {
    overflow: hidden !important;
}

.reveal section a.email {
    background-image: url("../assets/mail-logo.png");
    background-position: left 0.55em;
}

.reveal section a.github {
    background-image: url("../assets/github-logo.png");
}

.reveal section a.url {
    background-image: url("../assets/url-logo.png");
}

.reveal section a.npm {
    background-image: url("../assets/npm-logo.svg");
    background-position: left 0.55em;
}

.reveal section a.twitter {
    background-image: url("../assets/twitter-logo.png");
}
